<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<interfaces>	
		<interface>
			<name>$param.Name</name>
				<unit>					
					## IT CAN BE DANGEROUS IF WE CAN CHECK THE PARAMS... YOU CAN RESET THE CONFIGURATON FOR ALL THE INTERFACE
					<name>$param.PortNumber</name>
					<peer-unit>$param.Peer_unit</peer-unit>					
					#set( $isvlan = "false" )
					#foreach ($endpoint in $param.ProtocolEndpoint)
						#if($endpoint.getClass().getSimpleName().equals("VLANEndpoint"))
							#set( $vlanId = $endpoint.VlanID)
							#set( $isvlan = "true" )
							#break
						#end
					#end																			
					#if($isvlan == "true")
						<encapsulation operation="merge">vlan</encapsulation>
						<vlan-id operation="merge">$vlanId</vlan-id>
					#else
						<encapsulation operation="merge">ethernet</encapsulation>
					#end
					#if(!$param.description.equals(""))
						<description>$param.description</description>
					#end															
			</unit>
		</interface>	
	</interfaces>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>