###############################################################################
###########                       MACROS                            ###########
###############################################################################

#macro ( isEthernet $element $resp )
	#set( $resp = "false" )
	#if($element.LinkTechnology.toString().equals("ETHERNET"))
		#set( $resp = "true" )
	#end
#end

#macro ( isVLAN $element $resp )
	#set( $resp = "false" )
	#foreach ($endpoint in $$element.ProtocolEndpoint)
		#if(==$endpoint.getClass().getSimpleName().equals("VLANEndpoint"))
			#set( $resp = "true" )
			#break
		#end
	#end

#end

#macro ( hasIPConfiguration $element $resp )
	#set( $resp = "false" )
	#if (!$element.ProtocolEndpoint.Empty && $element.ProtocolEndpoint.get(0).getClass().getSimpleName().equals("IPProtocolEndpoint"))
		#set( $resp = "true" )
	#end
#end


###############################################################################
###########     CONFIGURE INTERFACE COMMAND WITH LOGICAL TUNNEL     ###########
###############################################################################

<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end

	<interfaces>	
		<interface>
			<name>$param.Name</name>
				<unit operation="replace">
					## IT CAN BE DANGEROUS IF WE CAN CHECK THE PARAMS... YOU CAN RESET THE CONFIGURATON FOR ALL THE INTERFACE
					<name>$param.PortNumber</name>
					## PEER UNIT GET FROM MODEL
					<peer-unit>$param.Peer_unit</peer-unit>
					#set( $ethernet = "true" )
					#isEthernet( $param $ethernet)
					#if($ethernet.equals("true"))
						<encapsulation>ethernet</encapsulation>
					#else					
						#set( $isvlan = "false" )
						#set( $vlanId = "" )	
						#isVLAN($param $isvlan)			
						#if($isvlan.equals("true"))
							<encapsulation>vlan</encapsulation>
						#end
					#end
					#set( $isIPConfig = "false" )
					#hasIPConfiguration($param $isIPConfig)
					#if( $isIPConfig.equals("true"))
						<family>
							<inet>
								<address>
								<name>$param.ProtocolEndpoint.get(0).getIPv4Address()/$ipUtilsHelper.parseLongToShortIpv4NetMask($param.ProtocolEndpoint.get(0).getSubnetMask())</name>
								</address>
							</inet>
						</family>	
					#end
			</unit>
		</interface>
	</interfaces>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>