
#macro (isPeerUnit $element $resp $peerUnit)
	#set( $resp = "false" )
	#if("LogicalTunnelPort"==$element.getClass().getSimpleName())
			#set( $peerUnit = $element.Peer_unit)
			#set( $resp = "true" )
			#break
	#end

#end

###############################################################################
###########             CONFIGURE IP IN AN INTERFACE                ###########
###############################################################################

<configuration>
	<interfaces>	
		<interface>
			<name>$param.ElementName</name>
				<unit>					
				<name>$param.PortNumber</name>	
					#if("LogicalTunnelPort"==$param.getClass().getSimpleName())
					<peer-unit>$param.Peer_unit</peer-unit>	
					#end										
				<family>
					<inet operation="replace">
						<address>
							<name>$param.ProtocolEndpoint.get(0).getIPv4Address()/$ipUtilsHelper.parseLongToShortIpv4NetMask($param.ProtocolEndpoint.get(0).getSubnetMask())</name>
						</address>
					</inet>
				</family>	
			</unit>
		</interface>	
	</interfaces>
</configuration>