#macro ( isLogicalRouter $element $resp )
	#set( $resp = "true" )	
	#if ((! $element) && ("$!element" == ""))
		#set( $resp = "false" )
	#end
#end

<configuration>
	#set( $logicalRouter = "true" )
	#isLogicalRouter( $param $logicalRouter)
	#if($logicalRouter == "true")
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	#if($logicalRouter == "true")
		</logical-systems>
	#end

</configuration>