#macro ( isLogicalRouter $element $resp )
	#set( $resp = "false" )	
	#if (NullTool.isNotNull($element) )
		#set( $resp = "true" )
	#end
#end

<configuration>
	#set( $logicalRouter = "true" )
	#isLogicalRouter( $param $logicalRouter)
	#if($logicalRouter == "true")
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	#if($logicalRouter == "true")
		</logical-systems>
	#end
</configuration>