#macro ( isLogicalRouter $element $resp )
	#set( $resp = "false" )
	#if($element.ElementName)
		#set( $resp = "true" )
	#end
#end

<configuration>

	#set( $logicalRouter = "true" )
	#isLogicalRouter( $param $logicalRouter)
	#if($logicalRouter == "true")
		<logical-systems>
			<name>$param.ElementName</name>
	#end
		<interfaces/>
	
	#if($logicalRouter == "true")
		</logical-systems>
	#end
</configuration>