/* -----------------------------------------------------------------------
OpenNaaS Custom CSS
----------------------------------------------------------------------- */
#header {
	
}

#menu {
	float: left;
	width: 10000px; 	
}

#body {
	float: right;
	width: 10000px; 	
}

#footer {
	width: 10000px; 	
}