/* -----------------------------------------------------------------------
OpenNaaS Custom CSS
----------------------------------------------------------------------- */
.container #header {
	
}

.container #menu {
	float: left;
	width: 250px;
	margin-top: 10px;
}

.container #body {
	float: left;
	width: 600px;
	min-height: 300px;
}

.container #footer {
	margin: 0px auto 0px auto;
	width: 500px;
}

#login {
	width: 260px;
	height: 50px;
	margin: 50px auto 0px auto;
}