###############################################################################
###########                       MACROS                            ###########
###############################################################################
#macro (isEthernet $element $resp)
	#set( $resp = "false" )
	#if($element.LinkTechnology.toString().equals("ETHERNET"))
		#set( $resp = "true" )
	#end
#end

#macro (isVLAN $element $resp $vlanId)
	#set( $resp = "false" )
	#foreach ($endpoint in $$element.ProtocolEndpoint)
		#if($endpoint.getClass().getSimpleName().equals("VLANEndpoint"))
			#set( $vlanId = $endpoint.VlanID)
			#set( $resp = "true" )
			#break
		#end
	#end
#end

###############################################################################
###########     CONFIGURE INTERFACE COMMAND WITH ETHERNET           ###########
###############################################################################

<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<interfaces>	
		<interface>
			<name>$param.Name</name>
				## FIXME logical routers can't contain vlan-tagging tag...
				#if($logicalRouter.equals("false") && $param.PortNumber != 0)	
					<vlan-tagging operation="merge"/>
				#end
				<unit>
					## IT CAN BE DANGEROUS IF WE CAN CHECK THE PARAMS... YOU CAN RESET THE CONFIGURATON FOR ALL THE INTERFACE
					<name>$param.PortNumber</name>
					#set( $isvlan = "false" )
					#foreach ($endpoint in $param.ProtocolEndpoint)
						#if($endpoint.getClass().getSimpleName().equals("VLANEndpoint"))
							#set( $vlanId = $endpoint.VlanID)
							#set( $isvlan = "true" )
							#break
						#end
					#end
					#if($isvlan.equals("true"))
						<vlan-id operation="merge">$vlanId</vlan-id>
						## <VLAN-TAGGING/> !! WE HAVE TO ADD VLAN-TAGGING
					#end
					#if(!$param.description.equals(""))
						<description>$param.description</description>
					#end
			</unit>
		</interface>	
	</interfaces>
	#if($logicalRouter.equals("true"))	
		</logical-systems>
	#end
</configuration>