###############################################################################
###########                     CONFIGURE VRRP                      ###########
###############################################################################

<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<interfaces>	
		<interface>
			<name>$networkInterface.getName()</name>
				<unit>
				<name>$networkInterface.getPortNumber()</name>
				<family>
					<inet6 operation="replace">
						<address>
							<name>$ipAddress/$prefix</name>
							<vrrp-inet6-group>
								<name>$vrrpGroup.getVrrpName()</name>
								<virtual-inet6-address>$vrrpGroup.getVirtualIPAddress()</virtual-inet6-address>
								<virtual-link-local-address>$vrrpGroup.getVirtualLinkAddress()</virtual-link-local-address>
								<priority>$param.getPriority()</priority>
							</vrrp-inet6-group>
						</address>
						<address>
							<name>$ipLinkAddress/$ipLinkPrefix</name>
						</address>
					</inet6>
				</family>
			</unit>
		</interface>
	</interfaces>
	<protocols>
	 	<router-advertisement>
	 		<interface operation="replace">
				<name>$networkInterface.getName().$networkInterface.getPortNumber()</name>
				<prefix>$longPrefix</prefix>
				<max-advertisement-interval>4</max-advertisement-interval>
	 		</interface>
	 	</router-advertisement>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>