#** 
@param param: a String with the name of the interface to configure
@param isLR: a boolean telling whether interface to be configured is in a logical router or not
@param lrName: a String with the logical router name (only set if isLR is true)
@param unitName: an int with the number of the unit to configure
@param description: a String with the description to set to the unit
*#
<configuration>
	#if($isLR)
		<logical-systems>
			<name>$lrName</name>
	#end
	<interfaces>
		<interface>
			<name>$param</name>
			<unit operation="replace">
				<name>$unitName</name>
				<description>$description</description>
			</unit>
		</interface>
	</interfaces>
	#if($isLR)
		</logical-systems>
	#end
</configuration>
