<configuration>
	#set($logicalRouter = "false")
	#if(!$elementName.equals(""))
		#set($logicalRouter = "true")
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end
	<routing-options>
		<static>
			<route>
				<name>$param.getNetIdIpAdress()</name>
				#if($nextHopSet)
				<next-hop>$param.getNextHopIpAddress()</next-hop>
				#end
				#if($discardSet)
				<discard/>
				#end
				#if($preferenceSet)
				<preference>
					<metric-value>$param.getPreference()</metric-value>
				</preference>
				#end
			</route>
		</static>
	</routing-options>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>