<configuration>
	#set($logicalRouter = "false")
	#if(!$elementName.equals(""))
		#set($logicalRouter = "true")
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end
	<routing-options>
		<rib>
			<name>inet6.0</name>
			<static>
				<route>
					<name>$param[0]</name>
					<next-hop operation="delete">$param[1]</next-hop>
					##Notice that if there is an empty route, junOS removes it automatically
				</route>
			</static>
		</rib>				
	</routing-options>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>