<configuration>
#set( $logicalRouter = "false" )
	#if(!$elementName.equals("") )
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end
	<interfaces>
		<interface>
			<name>$param.getName()</name>
			<vlan-tagging operation="delete"/>
		</interface>
	</interfaces>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>