###############################################################################
###########                    UNCONFIGURE VRRP                     ###########
###############################################################################

<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<interfaces>	
		<interface>
			<name>$networkInterface.getName()</name>
				<unit>
				<name>$networkInterface.getPortNumber()</name>
				<family>
					<inet6 operation="delete">
						<address>
							<name>$ipAddress/$prefix</name>
							<vrrp-inet6-group>
								<name>$vrrpGroup.getVrrpName()</name>
							</vrrp-inet6-group>
						</address>
					</inet6>
				</family>
			</unit>
		</interface>
	</interfaces>
	<protocols>
	 	<router-advertisement>
	 		<interface operation="delete">
				<name>$networkInterface.getName().$networkInterface.getPortNumber()</name>
	 		</interface>
	 	</router-advertisement>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>