#**
Clears BGP configuration 
*#
<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<protocols>
		<bgp operation="delete"/>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>
