/* -----------------------------------------------------------------------
NFV Routing Special CSS features
----------------------------------------------------------------------- */

.ipInput{
    width: 8em;
}
.macInput{
    width: 11em;
}
.portInput{
    width: 2em;
}