<configuration>
	#set($logicalRouter = "false")
	#if(!$elementName.equals(""))
		#set($logicalRouter = "true")
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end


	<protocols>
		<ospf>
			#foreach($ospfAreaConfig in $param.getOSPFAreaConfiguration())
			#set($ospfArea = $ospfAreaConfig.getOSPFArea())
			<area>
				<name>$ipUtilsHelper.ipv4LongToString($ospfArea.getAreaID())</name>
				#foreach($ospfPep in $ospfArea.getEndpointsInArea())
				<interface operation="none">
					<name>$ospfPep.getName()</name>
					##ENABLED/DISABLED
					#if($ospfPep.getEnabledState().equals($disabledState))
					<disable operation="create"/>
					#else
					<disable operation="delete"/>
					#end
				</interface>
				#end
			</area>
			#end
		</ospf>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>