<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<protocols>	
		<ospf>
		#set( $ospfArea = $param.getOSPFArea())
			<area>
				<name>$ipUtilsHelper.ipv4LongToString($ospfArea.getAreaID())</name>
				##TODO Area type config should be included here (stub, nssa,...)
				#foreach( $ospfPep in $ospfArea.getEndpointsInArea())
				<interface>
					<name>$ospfPep.getLogicalPorts().get(0).getName().$ospfPep.getLogicalPorts().get(0).getPortNumber()</name>
					##ENABLED/DISABLED
					#if( $ospfPep.getEnabledState().equals($disabledState))
					<disable/>
					#else
					<disable operation="delete"/>
					#end
				</interface>
				#end
			</area>
		</ospf>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>