<configuration>
	#set( $logicalRouter = "false" )
	#if(!$elementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end
	<protocols>	
		<ospf>
		#set($ospfArea = $param.getOSPFArea())
			<area operation="delete">
				<name>$ipUtilsHelper.ipv4LongToString($ospfArea.getAreaID())</name>
			</area>
		</ospf>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>