<configuration>
	#set($logicalRouter = "false")
	#if(!$elementName.equals(""))		
		#set($logicalRouter = "true")
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end
	<protocols>	
		<ospf>
			#foreach($ospfPep in $param)
			<area>
				<name>$ipUtilsHelper.ipv4LongToString($ospfPep.getOSPFArea().getAreaID())</name>

				<interface operation="none">
					<name>$ospfPep.getLogicalPorts().get(0).getName()</name>
					##ENABLED/DISABLED
					#if($ospfPep.getEnabledState().equals($disabledState))
					<disable operation="create"/>
					#else
					<disable operation="delete"/>
					#end
				</interface>
				
			</area>
			#end
		</ospf>
	</protocols>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>