#header {
	display: block;
	clear: both;
	color: white;
	border: none;
	height: 200px;
	background-image: url(../images/bg_gris.gif);
	background-repeat: repeat;
	background-position: bottom;
	margin: -3px;
}

#subHeader {
	display: block;
	clear: both;
	background-color: #e41915;
	color: white;
	border: none;
	margin-bottom: 20px;
	height: 20px;
	margin: -3px
}

p {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

table.moduletable td {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

td,tr,p,div {
	color: #004488;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: rgb(203,203,203);
}

th {
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
}

p.status {
	margin: 0px;
	padding-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

a:link,a:visited {
	font-size: 18px;
	color: #004488;
	text-decoration: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

a:hover {
	color: #4272B4;
	text-decoration: underline;
	font-weight: normal;
}

a.path:link,a.path:visited {
	font-size: 14px;
	color: #004488;
	text-decoration: none;
	font-weight: normal;
}

a.path:hover {
	font-size: 14px;
	color: #4272B4;
	text-decoration: underline;
	font-weight: normal;
}

a.header:link,a.header:visited {
	font-weight: bold;
}

a.header:hover {
	font-weight: bold;
}

a.title:link,a.title:visited {
	font-size: 12px;
	font-weight: bold;
}

a.title:hover {
	font-size: 12px;
	font-weight: bold;
}

.mainTitle {
	color: #004488;
	font-size: 26px;
	font-weight: bold;
	padding: 2px;
}

input,textarea,select {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px !important;
	float: inherit;
}

.tdLabel {
	width: 94px;
}

#wwctrl_submitLogin {
	text-align: center;
}

#logout {
	text-align: center;
	font-size: 18px !important;
	margin-top: 10px;
	background-color: #ffffff
}