* {
	font-family: Tahoma;
	font-size: 18px;
	color: #090909;
}

h1 {
	font-family: Arial;
	font-size: 18px;
	font-weight: bolder;
	padding-left: 8px;
	padding-bottom: 2px;
	padding-top: 8px;
	color: #063165;
	background-image: url(../images/bg-h1.png);
	background-repeat: repeat;
	margin-bottom: 12px;
	border-bottom: 2px solid #BBC4D1;
}

h2 {
	font-family: Arial;
	font-size: 12px;
	color: #063165;
	background: #eee;
	margin-bottom: 12px;
	border-bottom: 2px solid #BBC4D1;
}

body,html {
	margin: 0px;
	padding: 0px;
	color: white;
}

a {
	font-size: 18px;
	color: #090909 !important;
}

a:hover {
	text-decoration: none;
}

#buttons {
	text-align: center;
}

button {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 38px;
	width: 723px;
	height: 75px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

#logout {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 25px;
    text-align: right;
	
}

table {
	margin: 13px auto 0 auto;
	border: none;
}

table td {
	padding: 4px;
}

table a {
	text-decoration: none;
	font-size: 11px;
}

table a:hover {
	text-decoration: underline;
}

fieldset {
	background-color: #f6f6f6;
	border: 1px solid #BDC7D8;
	padding: 20px 10px 20px 10px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#header {
	display: block;
	clear: both;
	color: white;
	border: none;
	padding: 9px 5px 5px 10px;
	height: 80px;
	background-image: url(../images/bg_gris.gif);
	background-repeat: repeat;
	background-position: bottom;
}

#title {
	color: #222222;
	font-weight: bold;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.5em;
	line-height: 2em;
	margin-left: 1em;
}

#subHeader {
	display: block;
	clear: both;
	background-color: #e41915;
	color: white;
	border: none;
	margin-bottom: 10px;
	padding: 9px 5px 5px 10px;
	height: 4px;
}

#logoff {
	float: right;
	margin-top: 65px;
}

#logoff a  {
	color: #FFFFFF !important;
	font-size: 11px;
	text-decoration: none;
}

#logoff label  {
	color: #FFFFFF !important;
	font-size: 11px;
	text-decoration: none;
}

#logoff a:hover {
	text-decoration: underline;
}

#logoff img {
	border-width: 0px;
	vertical-align: -4px;
}

#contentBody {
	display: block;
	clear: none;
	margin-left: 265px;
	margin-right: 10px;
	background-color: #848484;
	min-height: 350px;
	padding-bottom: 10px;
}

th {
	font-size: 11px; /*0.8em;*/
	border-bottom: 1px solid #5F5F5F;
}

.odd {
	background-color: #f0f0f0;
	padding: 5px;
	text-align: center;
}

.even {
	background-color: #ffffff;
	padding: 5px;
	text-align: center;
}

.label {
	display: block;
	width: 100px;
	clear: left;
	float: left;
	font-size: 11px; /*0.8em;*/
	font-style: normal !important;
}

.wwgrp {
	display: block;
	clear: both;
}

.readonly {
	background-color: #efefef;
}

/*SCROLL VERTICAL*/
.scroll {
	height: 100px;
	border: 1px solid gray;
	overflow: auto;
}

.visible {
	visibility: hidden;
}

#footer {
	margin-top: 15px;
	margin-left: 25px;
	margin-right: 25px;
	float: right;
}

.tableList {
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	color: #32425D;
	border-width: 1px;
	border-style: dotted;
	border-color: #1c1c1c;
	border-spacing: 10px;
	background-color: #ffffff;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.tableOpciones {
	width: 150px;
}

.entryValues {
	display: table; 
	width: 1000px;
	height: 75px;
}

.selectEntry {
	float: left; 
	height: 40px; 
	width: 400px;
	margin-right: 25px;
}

.selectEntry select {
	width: 200px;
}

.textEntry {
	float: left; 
	height: 40px; 
	width: 450px; 
	background-color: transparent;
}

.textEntry textarea {
	padding: 5px;
	overflow: auto;
	font-size: 11px !important;
	background-color: transparent;
	vertical-align: middle !important;
}


.entryValues input,select,textarea {
	border: 1px solid #BDC7D8;
	min-width: 200px;
	margin-bottom: 10px;
}

.entryValues label {
	display: block;
	width: 175px;
	clear: left;
	float: left;
	font-size: 11px;
	font-weight: bolder;
	font-style: normal !important;
	color: #222222;
}

.entryValues wwctrl {
	float: left;
	clear: right;
	font-size: 11px;
}

.entryValues wwgrp {
	display: block;
	clear: both;
	margin-top: 8px;
}

.entryValues img {
	vertical-align: middle;
}

.tableValora {
	border-width: 1px;
	border-style: dotted;
	border-color: #1c1c1c;
	border-spacing: 10px;
}

.fieldSetValora {
	min-height: 110px;
	padding-top: 0px;
	margin-left: 25px;
}

.menu {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
	font: sans-serif;
	height: 300px;
	width: 240px;
	position: relative;
	margin-left: 10px;
	float: left;
}

.linkMenu {
	display: block;
	font-family: Verdana !important;
	font-size: 12px;
	width: auto;
	color: #000;
	line-height: 22px;
	text-decoration: none;
	margin-bottom: 6px;
	padding-left: 18px;
	background-image: url("../images/li_menu_lateral.gif");
	background-repeat: no-repeat;
	background-position: -10px -1px;
}


.linkMenu:hover {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
}


.tooltip {
	width: auto;
	max-width: 250px;
	background-color: #cccccc;
    border: 1px solid #888888;
    color: #333333;
    padding: 10px 10px 10px 10px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
}


.pagelinks {
	background-color: #ffffff;
	border: 1px solid #888888;
	text-align: center;
	margin-top: 15px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pagelinks img {
	border: 0px solid;
}

.errorDialog {
	text-align: center;
}

.messageDialog {
	text-align: center;
}

.infoDialog {
	text-align: center;
}

.messageMessage {
	color: #ef2c2c;
	list-style-type: none;
	list-style-image: url("../images/message.gif");
}

.messageMessage span {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 5px;
}

.infoMessage {
	color: #ef2c2c;
	list-style-type: none;
	list-style-image: url("../images/information.gif");
}

.infoMessage span {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 9px;
}

.errorMessage {
	color: #ef2c2c;
	list-style-type: none;
	list-style-image: url("../images/error.gif");
}

.errorMessage li span {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 15px;
}

.errorLabel {
	color: #ff0000 !important;
	text-decoration: blink;
}

#image {
	text-align: center;	
}
