#macro ( isLogicalRouter $element $resp )
	#set( $resp = "false" )
	#if($element.ElementName)
		#set( $resp = "true" )
	#end
#end

#macro (isPeerUnit $element $resp $peerUnit)
	#set( $resp = "false" )
	#if("LogicalTunnelPort"==$element.getClass().getSimpleName())
			#set( $peerUnit = $element.Peer_unit)
			#set( $resp = "true" )
			#break
	#end

#end

###############################################################################
###########             CONFIGURE IP IN AN INTERFACE                ###########
###############################################################################

<configuration>
	#set( $logicalRouter = "true" )
	#isLogicalRouter( $param $logicalRouter)
	#if($logicalRouter == "true")
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<interfaces>	
		<interface>
			<name>$param.Name</name>
				<unit>					
				<name>$param.PortNumber</name>	
					#if("LogicalTunnelPort"==$param.getClass().getSimpleName())
					<peer-unit>$param.Peer_unit</peer-unit>	
					#end
				<family>
					<inet operation="replace">
						<address>
							<name>$param.ProtocolEndpoint.get(0).getIPv4Address()/$ipUtilsHelper.parseLongToShortIpv4NetMask($param.ProtocolEndpoint.get(0).getSubnetMask())</name>
						</address>
					</inet>
				</family>	
			</unit>
		</interface>	
	</interfaces>
	#if($logicalRouter == "true")
		</logical-systems>
	#end
</configuration>