<configuration>
<interfaces>
## for each interface in logical router. TODO change param por logicalROuter.interfaces
##	#foreach($element in $param)
##	#if("Ethernetport"==$element.getClass().getSimpleName())		
	<interface>
		<name>$param.ElementName</name>
		<unit>
		<name>$param.PortNumber</name>
		</unit>
	</interface>
##	#end
##	#end
</interfaces>
</configuration>
