<configuration>
<interfaces>
## for each interface in logical router. TODO change param por logicalROuter.interfaces
##	#foreach($element in $param)
##	#if("Ethernetport"==$element.getClass().getSimpleName())		
	<interface>
		<name>$param.Name</name>
		<unit>
		<name>$param.PortNumber</name>
		#if($param.description)
		<description>$param.description</description>
		#end
		</unit>
	</interface>
##	#end
##	#end
</interfaces>
</configuration>
