<configuration>	
command+="<logical-systems><name>"+logicalRouterName+"</name>";
		/* bgp configuration */
	<protocols><bgp><group operation="delete">;
	<name>bgpName</name>
	</group></bgp></protocols>;
				
<routing-options>
<autonomous-system operation="delete"/>
</routing-options>
		
		if((logicalRouterName!=null)&&(!logicalRouterName.equals(""))){
			command+="</logical-systems>";
		}
</configuration>