<configuration>
<logical-systems><name>cpe1 </name></logical-systems>
<routing-options>
<static>
<route operation="delete">
#foreach( $ruta in $param )
<name> $ruta.DestinationAddress/$ruta.PrefixLength</name> 
#end
</route>
</static>
</routing-options>
</logical-systems>
</configuration>