svg {
/*    background-color: #FFF;*/
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(.active):not(.ctrl) {
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

.node text {
    pointer-events: none;
    font: 12px sans-serif;
    font-weight: bold;
}
/* Color node text*/
.id_txt_sw{
    fill: #ff0000;
}
.id_txt_host{
    fill: #ff0000;
}

*.host{
    /*  cursor: default;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.link {
    fill: none;
/*    stroke: #009E26;*/
    stroke: black;
    stroke-width: 4px;
    cursor: default;
}
.linkCtrl {
    stroke: #ccc; 
    stroke-width: 2px; 
    stroke-dasharray: 3, 3;
}

.link2 {
    fill: none;
    stroke-width: 4px;
    cursor: default;
}
.dragline{
    stroke: #f00;
    stroke-width: 4px;
    cursor: default;
}
.new_link1 {
    stroke: #009E26;
}
.new_link2 {
    stroke: #009E26;
}
.new_link3 {
    stroke: #9E0000;
}
.new_link4 {
    stroke: #0029FF;
}
.new_link21, .new_link12{
    stroke: #9E0000;
}
.new_link32, .new_link23 {
    stroke: #FF6600;
}
.new_link43, .new_link34{
    stroke: #0029FF;
}