#######################################################################################
############################# PHYSICAL INSFRASTRUCTURE ################################
#######################################################################################

####################################### ROUTERS #######################################
phy.routers = 3
phy.router.0.name = lola
phy.router.0.ifaces = 3
phy.router.0.iface.0 = lo0
phy.router.0.iface.1 = fe-0/3/0
phy.router.0.iface.2 = ge-0/2/0

phy.router.1.name = myre
phy.router.1.ifaces = 3
phy.router.1.iface.0 = lo0
phy.router.1.iface.1 = ge-2/0/0
phy.router.1.iface.2 = ge-2/0/1

phy.router.2.name = cpe1-gsn
phy.router.2.ifaces = 2
phy.router.2.iface.0 = lo0
phy.router.2.iface.1 = ge-1/0/7

###################################### BoDs ##########################################
phy.bods = 1
phy.bod.0.name = autobahn
phy.bod.0.ifaces = 4
phy.bod.0.iface.0 = HEANET.pc.7235713c
phy.bod.0.iface.1 = HEANET.pc.5ddac8a4
phy.bod.0.iface.2 = HEANET.pc.a3bce684
phy.bod.0.iface.3 = UNKNOWN0

###################################### LINKS ##########################################
phy.links = 6

phy.link.0.name = core-1
phy.link.0.source = phy.router.0.iface.1
phy.link.0.dst = phy.router.1.iface.1

phy.link.1.name = core-2
phy.link.1.source = phy.router.0.iface.2
phy.link.1.dst = phy.router.2.iface.1

phy.link.2.name = down1
phy.link.2.source = phy.router.1.iface.1
phy.link.2.dst = phy.bod.0.iface.3

phy.link.3.name = inter1
phy.link.3.source = phy.router.1.iface.2
phy.link.3.dst = phy.bod.0.iface.0

phy.link.4.name = down2
phy.link.4.source = phy.router.2.iface.1
phy.link.4.dst = phy.bod.0.iface.2

phy.link.5.name = inter2
phy.link.5.source = phy.router.2.iface.1
phy.link.5.dst = phy.bod.0.iface.1
