###############################################################################
###########                     CONFIGURE VRRP                      ###########
###############################################################################

<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )		
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	<interfaces>	
		<interface>
			<name>$networkInterface.getName()</name>
				<unit>
				<name>$networkInterface.getPortNumber()</name>
				<family>
					<inet>
						<address>
							<name>$ipAddress/$subnetMask</name>
							<vrrp-group operation="replace">
								<name>$vrrpGroup.getVrrpName()</name>
								<virtual-address>$vrrpGroup.getVirtualIPAddress()</virtual-address>
								<priority>$param.getPriority()</priority>
							</vrrp-group>
						</address>
					</inet>
				</family>
			</unit>
		</interface>
	</interfaces>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>