<configuration>
	#set($logicalRouter = "false")
	#if(!$elementName.equals(""))		
		#set($logicalRouter = "true")
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$elementName</name>
	#end
	<interfaces>	
		<interface>
		<name>$name</name>
			<unit operation="replace">
				<name>$portNumber</name>
			</unit>
		</interface>
	</interfaces>
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>