<configuration>
	#set( $logicalRouter = "false" )
	#if(!$param.ElementName.equals("") )
		#set( $logicalRouter = "true" )
	#end
	#if($logicalRouter.equals("true"))
		<logical-systems>
			<name>$param.ElementName</name>
	#end
	
	##ADD CONFIG STATEMENTS HERE
	
	#if($logicalRouter.equals("true"))
		</logical-systems>
	#end
</configuration>
