/* -----------------------------------------------------------------------
OpenNaaS Custom CSS
----------------------------------------------------------------------- */

/* Layout styles
----------------------------------*/
.container #menu {
	float: left;
	width: 200px;
	margin-top: 0px;
}

.container #body {
	float: left;
	width: 750px;
	min-height: 300px;
}

.container #footer {
	margin: 0px auto 0px auto;
	width: 500px;
}

/* Header styles
----------------------------------*/
#header_logo {
	float: left;
	width: 150px;
}

#header_title {
	margin-left: 150px;
	margin-top: 30px;
	float: left;
}

#header_user {
	margin-top: 10px;
	float: right;
	border: 0;
	background: white none;
}

#header_menu {
	clear: both;
	height: 31px;
}

#languages {
	float: right;
	margin-right: 3px;
}

#home {
	float: left;
}

#username {
	float: left;
}

#user_icon {
	float: left;
}


/* Menu styles
----------------------------------*/
#_menu {
	width: 175px;
	min-height: 300px;
}

/* Home styles
----------------------------------*/
.button {
	width: 100px;
}

.ui-widget-overlay {
	opacity: .80 !important;
	/* Make sure to change both of these, as IE only sees the second one */
	filter: alpha(opacity =     80) !important;
	background-color: rgb(50, 50, 50) !important;
	/* This will make it darker */
}

​ /* Login styles
----------------------------------*/  
.ui-menu {
	width: 150px;
}

#login {
	width: 260px;
	height: 50px;
	margin: 50px auto 0px auto;
}

/* Create and Edit styles
----------------------------------*/
#createVCPENetwork h2 {
	font-size: 16px;
}

#createVCPENetwork h3 {
	font-size: 13px;
}

#createVCPENetwork label {
	font-size: 11px;
}

#createVCPENetwork {
	font-size: 10px;
}

#vcpe {
	clear: both;
}

#client {
	clear: both;
}

#submitButton {
	float: right;
}

#up_interfaces {
	text-align: center;
	width: 100%;
}

#up_backup,#up_master {
	width: 150px;
	padding: 10px 0 0 10px;
	display: inline-block;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#id_client_backup,#id_client_master {
	width: 150px;
	padding: 10px 0 0 10px;
	float: left;
	margin-left: 10px;
}

#vcpe_interfaces {
	text-align: center;
	width: 100%;
}

#client_master {
	display: inline-block;
	width: 150px;
	padding: 10px 0 0 10px;
	clear: both;
	margin-left: 5px;
}

#client_backup,#inter_master,#inter_backup {
	display: inline-block;
	width: 150px;
	padding: 10px 0 0 10px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#client_down_master {
	display: inline-block;
	width: 150px;
	padding: 10px 0 0 10px;
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#client_down_backup {
	display: inline-block;
	width: 150px;
	padding: 10px 0 0 10px;
	margin-left: 347px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#vcpe_routers {
	text-align: center;
	width: 100%;
}

#lr_master,#lr_backup {
	display: inline-block;
	width: 280px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#bod_master,#bod_inter,#bod_backup {
	float: left;
	margin: 5px;
	z-index: 10;
}

#config {
	width: 200px;
	height: 50px;
	padding: 5px;
	float: left;
	margin: 0 10px 10px 0;
	z-index: inherit;
}

/* Home styles
----------------------------------*/
#cpe_master, #cpe_backup {
	display: inline-block;
	width: 280px;
	margin-left: 60px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
}

#wan_backup {
	width: 150px;
	padding: 5px;
	float: left;
	margin-left: 135px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

#wan_master {
	width: 150px;
	padding: 5px;
	float: left;
	margin-left: 146px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

#cpe_interfaces {
	text-align: center;
	width: 100%;
}

#cpe_client_master {
	display: inline-block;
	width: 150px;
	padding: 5px;
	clear: both;
	margin-left: 5px;
}

#cpe_client_backup,#cpe_inter_master,#cpe_inter_backup {
	display: inline-block;
	width: 150px;
	padding: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.config_content {
	padding-top: 10px;
	
}

/* Other styles
----------------------------------*/