/* -----------------------------------------------------------------------
OpenNaaS Custom CSS
----------------------------------------------------------------------- */
.container #menu {
	float: left;
	width: 200px;
	margin-top: 0px;
}

.container #body {
	float: left;
	width: 750px;
	min-height: 300px;
}

.container #footer {
	margin: 0px auto 0px auto;
	width: 500px;
}

#_menu {
	width: 175px;
	min-height: 300px;
}

.ui-menu {
	width: 150px;
}

#login {
	width: 260px;
	height: 50px;
	margin: 50px auto 0px auto;
}

/**
 * GUI view
 */
#vcpe {
	clear: both;
}

#customer {
	clear: both;
}

#submitButton {
	float: right;
}

/**
 * Interfaces
 */
#up_backup,#up_master {
	width: 150px;
	padding: 10px 0 0 10px;
	float: left;
	margin-left: 5px;
}

#id_customer_backup,#id_customer_master {
	width: 150px;
	padding: 10px 0 0 10px;
	float: left;
	margin-left: 10px;
}

#customer_master {
	float: left;
	width: 150px;
	padding: 10px 0 0 10px;
	clear: both;
	margin-left: 5px;
}

#customer_backup,#inter_master,#inter_backup {
	float: left;
	width: 150px;
	padding: 10px 0 0 10px;
	margin-left: 5px;
}

/**
 * Routers
 */
#lr_master {
	clear: both;
	float: left;
	width: 280px;
}

#lr_backup {
	float: left;
	width: 280px;
}

/**
 * Protocols
 */
#bod_master,#bod_inter,#bod_backup {
	float: left;
	margin: 5px;
}

#config {
	width: 200px;
	height: 50px;
	padding: 5px;
	float: left;
	margin: 0 10px 10px 0;
}