#**
@param param: NetworkPort with a single NetworkPortVLANSettingData
@param elementName: logical system element name
@param hasInputFilter: boolean telling whether filter input should be added or not
@param inputFilter: String with input-filter name
@param hasOutputFilter: boolean telling whether filter output should be added or not
@param outputFilter: String with output-filter name
@param hasVlan: boolean telling whether vlan should be added or not
@param vlanMembers: String with vlan members name
*#
<configuration>
	#if(!$elementName.equals("") )		
		<logical-systems>
			<name>$elementName</name>
	#end
	
    <interfaces>
    	<interface>
    		<name>$param.getName()</name>
    		<unit>
    			<name>$param.getPortNumber()</name>
    			<family>
	    			<ethernet-switching operation="merge">
	    				#if ($param.getElementsSettingData().get(0).getPortMode())
		    				#if (!$param.getElementsSettingData().get(0).getPortMode().equals("") )
		    					<port-mode>$param.getElementsSettingData().get(0).getPortMode()</port-mode>
		    				#end
	    				#end
	    				#if ($param.getElementsSettingData().get(0).getNativeVlanId() > -1)
	    					<native-vlan-id>$param.getElementsSettingData().get(0).getNativeVlanId()</native-vlan-id>
	    				#end
	    				#if ($hasInputFilter || $hasOutputFilter)
	    					<filter>
	    						#if ($hasInputFilter)
	    						<input>$inputFilter</input>
	    						#end
	    						#if ($hasOutputFilter)
	    						<output>$outputFilter</output>
	    						#end
	    					</filter>
	    				#end
	    				#if ($hasVlan)
	    					<vlan>
	    						<members operation="replace">$vlanMembers</members>
	    					</vlan>
	    				#end
	    			</ethernet-switching>
    			</family>
    		</unit>
    	</interface>
    </interfaces>
	#if(!$elementName.equals("") )		
		</logical-systems>
	#end
</configuration>