/* -----------------------------------------------------------------------
VRF - OpenNaaS Custom CSS
----------------------------------------------------------------------- */

.topology{/*class*/
    float:left;
}
.routeTable{
    float:left;    
}
#home_info{
    float: left;
    width: 28%;
    padding: 10px;
}
#home_topology{
    min-height: 300px;
    width:68%;
    margin-left: 5px;//remove when we show the topology
    
}
#config_topology {
    width:50%;
}
#config_routeTable{
    width:50%;
}
#insert_topology {
    width:69%;
    min-height: 300px;
}
#insert_routeTable{
    width:100%;
}
#insert_info{
    float:left;
    width:28%;
    padding: 10px;
}
#animaton_topology{
    width:80%;
}
#animation_log{
    float:left;
    width:20%;
}

