<configuration>
<logical-systems><name> $logicalRouterName </name></logical-systems>
<routing-options>
<static>
<route operation="replace">
#foreach( $ruta in $list )
<name> $ruta.IpAddressDestinationSubNetwork </name>
<next-hop> $ruta.IpAddressNextHop </next-hop>
#end
</route>
</static>
</routing-options>
</logical-systems>
</configuration>
